html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}
ul{
    margin: 0
}
li{
    padding: 15px 0;
    list-style: none;
}
li a {
    color: black;
    text-decoration: none;
}
.cambiacolor:hover{
    color: red;
}
h1{
    text-transform: uppercase
}
body {
    background: #ff9800 url("images/background.gif") no-repeat center;
}
.centrador{
    text-align: center;
}
.container{
    padding: 0 15px;
}
.btn{
    background-color: black;
    color: olive;
    width: auto;
    border: 1px solid olive;
    min-width: 100px;
    /* inline-size: initial; */
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn:hover{
    box-shadow: 3px 3px 6px 0px #562f08;
    cursor: pointer;
}